{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="carruselCategorias" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        {% for c in categorias %}
        <button type="button" data-bs-target="#carruselCategorias"
                data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active"{% endif %}></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for c in categorias %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
           <a href="{% url c.url %}">
            <img src="{% static c.imagen %}" class="d-block w-100 carrusel-img" alt="{{ c.nombre }}">
            <div class="carousel-caption">
                <h2>{{ c.nombre }}</h2>
                <p>{{ c.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carruselCategorias" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carruselCategorias" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>

{% endblock %}